<div class="cv-info">
    <label for="{{list_forid1}}">{{list_label1}}</label>
    <input type="{{list_type1}}" id="{{list_forid1}}" value="{{list_value1}}" readonly />

    <label for="{{list_forid2}}">{{list_label2}}</label>
    <input type="{{list_type2}}" id="{{list_forid2}}" value="{{list_value2}}" readonly />

    <label for="{{list_forid3}}">{{list_label3}}</label>
    <input type="{{list_type3}}" id="{{list_forid3}}" value="{{list_value3}}" readonly />

    <label for="{{list_forid4}}">{{list_label4}}</label>
    <input type="{{list_type4}}" id="{{list_forid4}}" value="{{list_value4}}" readonly />
</div>

<ul class="cv-hab">
    <li>{{list_hb1}}</li>
    <li>{{list_hb2}}</li>
    <li>{{list_hb3}}</li>
    <li>{{list_hb4}}</li>
    <li>{{list_hb5}}</li>
</ul>
</div>